CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

QCTyche/.vs/
QCTyche/.idea/
QCTyche/cmake-build-*/
QCTyche/out/
