CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

QCTyche-VS/.vs/
QCTyche-VS/Debug/
QCTyche-VS/Release/
QCTyche-VS/x64/
QCTyche-VS/QCTyche-VS/Debug/
QCTyche-VS/QCTyche-VS/Release/
QCTyche-VS/QCTyche-VS/x64/

install/Installer/*.exe
